{% extends 'public.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<h1>Se connecter</h1>

	<div class="alert-container">
		{% for message in app.flashes('alert-not-auth') %}
			<div class="alert alert-not-auth">
				{{ message }}
			</div>
		{% endfor %}
	</div>

	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Vous êtes connecté en tant que
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Déconnexion</a>
			</div>
		{% endif %}

		<label for="username">Email</label>
		<input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
		<label for="password">Mot de passe</label>
		<input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		<button type="submit" class="button button-submit">Continuer</button>
		<p class="not-register-question-container">Pas de compte?
			<a href="{{ path('app_register') }}">
				S'inscrire</a>
		</p>
	</form>
{% endblock %}
